{% extends "base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
<h1 class="my-4">Bestellung abschließen</h1>

{% if cart_items %}
<form method="POST">
    {% csrf_token %}

    <h4>Rechnungsadresse</h4>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="use_existing_billing" id="use_existing_billing" checked>
        <label class="form-check-label" for="use_existing_billing">
            Aktuelle Rechnungsadresse verwenden: <strong>{{ customer.default_billing_address.street }}, {{ customer.default_billing_address.postal_code }} {{ customer.default_billing_address.city }}</strong>
        </label>
    </div>

    <div id="billing_form" style="display: none;">
        <div class="form-group mb-2">
            <label>Straße & Hausnummer</label>
            <input type="text" class="form-control" name="billing_street">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <label>PLZ</label>
                    <input type="text" class="form-control" name="billing_postal_code" required>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group mb-3">
                    <label>Stadt</label>
                    <input type="text" class="form-control" name="billing_city" required>
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label>Land</label>
            <input type="text" class="form-control" name="billing_country">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="set_default_billing" id="set_default_billing">
            <label class="form-check-label" for="set_default_billing">Als Standard-Rechnungsadresse speichern</label>
        </div>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="shipping_same_as_billing" id="shipping_same_as_billing" checked>
        <label class="form-check-label" for="shipping_same_as_billing">
            Lieferadresse ist gleich Rechnungsadresse
        </label>
    </div>

    <div id="shipping_form" style="display: none;">
        <h4>Lieferadresse</h4>
        <div class="form-group mb-2">
            <label>Straße & Hausnummer</label>
            <input type="text" class="form-control" name="shipping_street">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <label>PLZ</label>
                    <input type="text" class="form-control" name="shipping_postal_code" required>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group mb-3">
                    <label>Stadt</label>
                    <input type="text" class="form-control" name="shipping_city" required>
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label>Land</label>
            <input type="text" class="form-control" name="shipping_country">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="set_default_shipping" id="set_default_shipping">
            <label class="form-check-label" for="set_default_shipping">Als Standard-Lieferadresse speichern</label>
        </div>
    </div>
    <button class="btn btn-success w-100">Bestellung abschließen</button>
    <!--
    <a href="{% url 'checkout' %}" class="btn btn-success">Bestellung abschließen</a>
    -->
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {

    const billingBox = document.getElementById("use_existing_billing");
    const billingForm = document.getElementById("billing_form");
    const billingRequired = billingForm.querySelectorAll("[required]");

    function updateBilling() {
        const visible = !billingBox.checked;
        billingForm.style.display = visible ? "block" : "none";
        billingRequired.forEach(input => input.required = visible);
    }
    billingBox.addEventListener("change", updateBilling);
    updateBilling();


    const shipBox = document.getElementById("shipping_same_as_billing");
    const shipForm = document.getElementById("shipping_form");
    const shipRequired = shipForm.querySelectorAll("[required]");

    function updateShip() {
        const visible = !shipBox.checked;
        shipForm.style.display = visible ? "block" : "none";
        shipRequired.forEach(input => input.required = visible);
    }
    shipBox.addEventListener("change", updateShip);
    updateShip();

});

</script>

{% else %}
<p>Dein Warenkorb ist leer.</p>
<a href="{% url 'product_list' %}" class="btn btn-primary">Produkte ansehen</a>
{% endif %}
{% endblock %}
