version: "3.8"

services:
  db:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
      image: dpage/pgadmin4:9.8
      ports:
        - 5050:80
      environment:
        # Required by pgAdmin
        PGADMIN_DEFAULT_EMAIL: demo@example.com
        PGADMIN_DEFAULT_PASSWORD: 1234

        # Don't require the user to login
        PGADMIN_CONFIG_SERVER_MODE: 'False'

        # Don't require a "master" password after logging in
        PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'

  web:
    build: .
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    ports:
      - "8000:8000"

volumes:
  postgres_data:
