[project]
name = "webshop"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "django>=5.2.8",
    "gunicorn>=23.0.0",
    "psycopg[binary]>=3.2.13",
]
